<h1>Listing skipwords</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skipwords.each do |skipword| %>
  <tr>
    <td><%= skipword.keyword %></td>
    <td><%= link_to 'Show', skipword %></td>
    <td><%= link_to 'Edit', edit_skipword_path(skipword) %></td>
    <td><%= link_to 'Destroy', skipword, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skipword', new_skipword_path %>
