<% item = griditem %>

<li class="item" id="<%= item.id %>">
	
	<% if item.imageSrc != '' %>
		<%= link_to (image_tag item.photo.url(:thumb), :alt => item.title), item.url, :target => '_blank', :class => 'image' %>
	<% else %>
		<%= image_tag 'noimage.png', :class => 'image' %>
	<% end %>
	
	<div class="shortDesc">
		<h3><%= truncate(item.title, :length => 100).capitalize %></h3>
		<p>
			<% if !mobile_device? %>
				<%= truncate(item.desc, :length => 150).capitalize %>
		    <% else %>
				<%= truncate(item.desc, :length => 50).capitalize %>
			<% end %>
		</p>
		<% unless item.brand_list.empty? %>
			<div class="brandTags">
				<% item.brands.each do |k| %>
					<%= link_to k.name.capitalize , "?brand=#{k.name}" %>
				<% end %>
			</div>
		<% end %>
	</div>

	<ul class="details">
		<li class="time"><%= time_ago_in_w(item.updated_at) %></li>
		<li class="love"><%= render :partial => "items/like", :locals => { :item => item } %></li>
		<li class="site"><%= link_to item.site.capitalize, item.url %></li>
		<li class="price last"><a href="#"><%=item.getFixed %>&pound;<%=item.price %></a></li>
	</ul>

</li>