<li class="item">
	
	<% if item.imageSrc != '' %>
	<%= link_to (image_tag item.photo.url(:thumb), :alt => item.title), item.url, :target => '_blank', :class => 'image' %>
	<% else %>
	<%= image_tag 'noimage.png', :class => 'image' %>
	<% end %>
	
	<div class="details">
		<h3><%= truncate(item.title, :length => 100).capitalize %></h3>
		<p><%= truncate(item.desc, :length => 150).capitalize %></p>
		<% unless item.brand_list.empty? %>
			<div class="brandTags">
				<% item.brands.each do |k| %>
					<%= link_to k.name.capitalize , '?brand=' << k.name%>
				<% end %>
			</div>
		<% end %>
	</div>
	
	
	
	<div class="options">
		<ul class="details">
			<li class="time">
				
			</li>
			<li class="notes"><a href="#"><%= link_to item.site.capitalize, item.url %></a></li>
			<li class="comments"><a href="#">£<%=item.price%></a></li>
		</ul>
	</div>
		
	<a href="#" class="overlay"></a>
	<!--
	<div class="details">
		<div class="seethrough"></div>
		<div class="actualDetails" onclick="javascript: window.location = '<%=item.url%>';">
			<div class="headline"><%=truncate(item.title, :length => 40)%></div>
			<div class="price">&#163;<%=item.price%></div>
			<div class="go"><%= link_to 'go', item.url, :class => 'goBtn' %></div>
			<div class="foot"><%= link_to item.site, item.url %></div>
		</div>
	</div>
	--> 
</li>


