<li class="item">
	
	<% item = listitemmin %>
	
	<div class="listImage">
		<% if item.imageSrc != '' %>
		<%= link_to (image_tag item.photo.url(:small), :alt => item.title), item.url, :target => '_blank', :class => 'image' %>
		<% else %>
		<%= image_tag 'noimage.png', :class => 'image' %>
		<% end %>
	</div>
	
	<div class="detailsOptionsWrap">
		
		<div class="details">
			<h3><%= truncate(item.title, :length => 150).capitalize %></h3>
			<p><%= truncate(item.desc, :length => 250).capitalize %></p>
		</div>
	
		<div class="options">
			<ul class="details">
				<li class="time"><%= time_ago_in_w(item.updated_at) %></li>
				<li class="love"><%=  render :partial => "items/like", :locals => { :item => item } %></li>
				<li class="site"><%= link_to item.site.capitalize, item.url %></li>
				<li class="price last">&pound;<%=item.price %></li>
			</ul>
		</div>
		
	</div>

</li>