<% c = 0; %>

<h1>Listing items</h1>

<% @items.group_by(&:dayInYear).each do |dayInYear, items| %>
  	<% t = Time.new %>
	<% c += 1 %>

	<% @dateNow ||= Time.gm(t.year,t.month,t.day,t.hour,t.min,t.sec) %>	
	<% @differenceDays = (dayInYear.to_i - @dateNow.strftime("%j").to_i) %>
	<% @date = @dateNow + @differenceDays.to_f.days %>
	<% @date = @date.strftime("%d/%m/%Y") %>
	
	<% if (@dateNow.strftime("%d/%m/%Y") == @date)%>
		<% @date = "Today"%>
	<% end %>
	
	<h2 id="headline<%=c%>"><%=@date%></h2>

	<ul class="<%=@viewID%>">
		<%= render(:partial => "item", :collection => items) %>
	</ul>
<% end %>

<%= link_to 'New Item', new_item_path %>
