<p id="notice"><%= notice %></p>

<p>
  <h2><%= @item.title %></h2>
  <%= @item.url %><br/>
  <%= image_tag(@item.imageSrc, :alt => @item.title) %><br/>
  <%= @item.price %><br/>
  <%= @item.desc %><br/>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
