<div id="results" class="<%=controller.controller_name %>">
	<h2>Listing brands</h2>

	<table>
	<% @brands.each do |brand| %>
	  <tr>
	    <td><%= brand.name %></td>
	    <td><%= link_to 'Show', brand %></td>
	    <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
	    <td><%= link_to 'Destroy', brand, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />
</div>
<div id="paginationWrap">
	<%= link_to 'New Brand', new_brand_path %>
</div>	
