<h1><a href="/">Rackjam</a><span> v0.55</span></h1>
<h2><%=getH2 %></h2>

<% if !mobile_device? %>

	<div id="viewAs">
		<% if @view == 'grid' %>
			<%= link_to 'grid', params.merge(:view => 'grid'), :id => 'viewAsGrid', :class => 'selected', :rel => "nofollow"  %>
		<% else %>
			<%= link_to 'grid', params.merge(:view => 'grid'), :id => 'viewAsGrid', :rel => "nofollow" %>
		<% end %>
	
		<% if @view == 'list' %>
			<%= link_to 'list', params.merge(:view => 'list'), :id => 'viewAsList', :class => 'selected', :rel => "nofollow"   %>
		<% else %>
			<%= link_to 'list', params.merge(:view => 'list'), :id => 'viewAsList', :rel => "nofollow"  %>
		<% end %>		
	</div>	

	<form action="/" id="searchBox" accept-charset="UTF-8">
		<input type="text" size="30" name="search" id="search" class="smartInput">
	</form>

	<% @brands = Item.brand_counts.order('name ASC') %>
	<% unless @brands.empty? %>
		<form action="/" id="brand_dropdown" accept-charset="UTF-8">
			<select name="brand" onchange='this.form.submit()'>
				<option value="all">Select Brand</option>
				<% @brands.each do |brand| %>
					<% if params[:brand] == brand.name.downcase %>
						<option value="<%= brand %>" selected="selected"><%= brand.name.capitalize %></option>
					<% else %>
						<option value="<%= brand %>"><%= brand.name.capitalize %></option>
					<% end %>
				<% end %>
			</select>
		</form>
	<% end %>
	
<% end %>	

<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>