<%= render 'layouts/notice' %>
<%= render 'layouts/dashboard' %>
<%= render 'layouts/mylikes' %>
<%= render 'layouts/filter' %>
<%= render 'layouts/social' %>

<a href="http://www.larsattacks.co.uk" id="copyLA">&copy; LA 2013</a>