<h3 id="dash">Dashboard</h3>
<ul id="dashList">
	<li id="d_about"><a href="#">About</a></li>
	<li id="d_log"><a href="#">Sign in</a></li>
	<li id="d_reg">Register</li>
</ul>	

<h3>Filter by</h3>
<ul id="filterList">
	<li><%= link_to_if(params[:type], 'No filters') %></li>	
	<li><%= link_to_if(params[:type] != 'compressor', 'Compressors', :type => "compressor" ) %></li>	
	<li><%= link_to_if(params[:type] != 'sampler', 'Samplers', :type => "sampler" ) %></li>		
	<li><%= link_to_if(params[:type] != 'machine', 'Machines', :type => "machine" ) %></li>		
	<li><%= link_to_if(params[:type] != 'mic', 'Mics', :type => "mic" ) %></li>		
	<li><%= link_to_if(params[:type] != 'mixer', 'Mixers', :type => "mixer" ) %></li>		
</ul>

<div id="box"></div>
<a href="http://www.larsattacks.co.uk" id="copyLA">© LA 2011</a>