<div id="intro">
	We list gear from London and UK!
</div>	

<h3 id="dash">Dashboard</h3>

<ul id="dashList">
	<li id="d_about"><a href="/about">About</a></li>
	<% if user_signed_in? %><li><a href="#">Account</a></li><% end %>
    <% if user_signed_in? %><li id="dash_likes"><a href="#">Likes</a></li><% end %>	
	<% if user_signed_in? %><li><%= link_to_unless_current 'Logout', destroy_user_session_path %><% end %>
	<% if !user_signed_in? %><li><%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %></li><% end %>

</ul>	

<h3>Filter by</h3>
<ul id="filterList">
	<li><%= link_to_if(params[:type], 'No filters') %></li>	
	<li><%= link_to_if(params[:type] != 'compressor', 'Compressors', :type => "compressor" ) %></li>	
	<li><%= link_to_if(params[:type] != 'sampler', 'Samplers', :type => "sampler" ) %></li>	
	<li><%= link_to_if(params[:type] != 'synth', 'Synth', :type => "synth" ) %></li>			
	<li><%= link_to_if(params[:type] != 'machine', 'Machines', :type => "machine" ) %></li>		
	<li><%= link_to_if(params[:type] != 'mic', 'Mics', :type => "mic" ) %></li>		
	<li><%= link_to_if(params[:type] != 'mixer', 'Mixers', :type => "mixer" ) %></li>		
</ul>

<div id="fb">
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js#appId=222715851108793&amp;xfbml=1"></script>
	<fb:like href="http://www.facebook.com/home.php#!/pages/Rackjam/222715851108793" send="false" layout="button_count" width="450" show_faces="false" font=""></fb:like>
</div>

<div id="box">
	<ul>
		<li><a href="http://www.snufflr.net"><img src="/images/ads/ad-snuffler.png" /></a></li>
		<li><a href="http://www.bikeshd.co.uk/"><img src="/images/ads/ad-bikeshd.png" /></a></li>			
		<li><a href="http://www.larsattacks.co.uk"><img src="/images/ads/ad-la.png" /></a></li>			
	</ul>
</div>

<a href="http://www.larsattacks.co.uk" id="copyLA">&copy; LA 2011</a>