<!DOCTYPE html>
<html>

<head>
	<title>Rackjam</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="description" content="Rackjam, here to satisfy all your synth, rack and gear and needs." />
	<meta name="keywords" content="rackjam, gear, rack, synth, compressor, sampler, machine, mic, mixer, moog, access, virus, yamaha, akai, korg, nord, kurzweil, waldorf, novation, roland, native instruments, bose, behringer, dbx, drawmer, e-mu, focusrite, kawai, motu, samson, shure, oberheim, buy, bid, ebay, gumtree, 2nd hand, second hand, used, preloved" />	
	<%= include_stylesheets :rackjam, :media => 'all' %>
	<%= include_javascripts :rackjam %>
	<%= auto_discovery_link_tag :atom, "/feed" %>
	<%= auto_discovery_link_tag :rss, "/feed.rss" %>
	<%= csrf_meta_tag %>
	<script type="text/javascript" src="http://use.typekit.com/yny6zzk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
	<div id="header">
		<%= render "layouts/header" %>
	</div>
	
	<div id="main">	
		<div id="leftNav">
			<%= render "layouts/leftnav" %>
		</div>
    	<%= yield  %>
	</div>	
	
	<%= render "layouts/tracking" %>
</body>
</html>

