<!DOCTYPE html>
<html>

<head>
  <title>Synth4</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery-1.6.1.min.js', 'isotope/jquery.isotope.min.js' %>
  <%= csrf_meta_tag %>
</head>

<body>
	<div id="header">
		<h1><a href="/">Synth4</a></h1>

		<% puts "*** #{params[:brand]}"%>
	
		<% @brands = Item.brand_counts.order('name ASC') %>
		<% unless @brands.empty? %>
		
			<form action="" id="brand_dropdown">
				<select name="brand" onchange='this.form.submit()'>
					<% @brands.each do |brand| %>
						<% if params[:brand] == brand.name.downcase %>
							<option value="<%= brand %>" selected="selected"><%= brand.name.capitalize %></option>
						<% else %>
							<option value="<%= brand %>"><%= brand.name.capitalize %></option>
						<% end %>
					<% end %>
				</select>
			</form>
		<% end %>
		
	</div>
	
	<div id="main">	
    	<div id="results" class="<%=controller.controller_name %>">
      		<%= yield  %>
    	</div>
	</div>	
</body>
</html>

