<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">  	
	<title><%= getTitle %></title>
	<meta name="description" content="Rackjam UK, the place to satisfy all your synth needs." />
	<meta name="author" content="LA">  
	<meta name="keywords" content="rackjam, gear, rack, synth, focusrite, preamp, dsp ,compressor, midi, analog, sampler, machine, mic, mixer, moog, oscillator, arp, access, virus, yamaha, akai, korg, nord, kurzweil, waldorf, novation, roland, native instruments, bose, behringer, dbx, drawmer, e-mu, kawai, motu, samson, shure, oberheim, buy, bid, ebay, gumtree, 2nd hand, second hand, used, preloved" />	
	<meta property="fb:app_id" content="334265279941807" />
	<meta property="og:url" content="http://www.rackjam.co.uk" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Rackjam" />
	<meta property="og:image" content="http://www.rackjam.co.uk/images/fb-logo.png" />
	<meta property="og:title" content="Rackjam" />
	<meta property="og:description" content="Rackjam UK, sort out your synth fix" />
	<link rel="canonical" href="http://www.rackjam.co.uk" />
	
	<%= include_stylesheets :rackjam, :media => 'all'  %>
	<%= include_javascripts :rackjam  %>	
	
	<%= auto_discovery_link_tag :atom, "/feed" %>
	<%= auto_discovery_link_tag :rss, "/feed.rss" %>
	<%= csrf_meta_tag %>
	<script type="text/javascript" src="http://use.typekit.com/yny6zzk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
	<div id="header">
		<%= render "layouts/header" %>
	</div>
	
	<div id="main">	
		<div id="leftNav">
			<%= render "layouts/leftnav" %>
		</div>
    	<%= yield  %>
	</div>	
	
	<%= render "layouts/tracking" %>
</body>
</html>

