<!DOCTYPE html>
<html>

<head>
  <title>Rackjam</title>
  <%= include_stylesheets :common, :media => 'all' %>
  <%= include_javascripts :common %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="http://use.typekit.com/yny6zzk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
	<div id="header">
		<%= render "layouts/header" %>
	</div>
	
	<div id="main">	
		<div id="leftNav">
			<%= render "layouts/leftnav" %>
		</div>
    	<%= yield  %>
	</div>	
	
	<%= render "layouts/tracking" %>
</body>
</html>

